<div class="view">
  <h2>Viewing Group: <%=h @group %></h2>

  <h3>Members:</h3>
  <ul>
    <% if @group.members.empty? %>
      <li class="empty">This group has no members</li>
    <% end %>
    <% @group.members.each do |member| %>
      <li><%= auto_link member %>
    <% end %>
  </ul>
  
  <form action="<%=u "/groups/#{URI.encode(@group.name)}" %>" method="post">
    <div class="row">
      <label for="group_members">Members:</label>
      <textarea name="group[members]" id="group_members" cols="38" rows="10"><%= @group.members.join("\n") %></textarea>
      <p class="hint">Members are one-per line, groups starting with @'s</p>
    </div>
    <div class="buttons">
      <input type="submit" value="Update Group" /> or <%= link_to "Go Back", "/" %>
    </div>
  </form>
</div>